<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace PO Creator</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="receipt" accept="image/png, image/jpeg, image/webp, .pdf">
        
        <button type="submit">Submit</button>

        <h1>{{ title }}</h1>
        <span>{{ return_object }}</span>
    </form>
</body>
</html>