<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grace PO Creator</title>

    <style>
      #app {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
      }

      #form-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
      }

      #col1 {
        grid-column-start: 1;
        grid-row-start: 1;
      }

      #col2 {
        grid-column-start: 2;
        grid-row-start: 1;
      }

      #col3 {
        grid-column-start: 1;
        grid-column-end: 3;

        grid-column-start: 3;
        grid-row-start: 1;
      }

      #row2col1 {
        grid-row-start: 2;
        grid-row-end: 3;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form method="post" enctype="multipart/form-data">
        <input
          type="file"
          name="receipt"
          accept="image/png, image/jpeg, image/webp, .pdf"
        />
        <button type="submit">Submit</button>
        <h1>{{ title }}</h1>
      </form>

      <form method="post" action="/renderform">
        <div id="form-grid">
          <div id="col1">
            <label for="date">Number</label>
            <input type="text" id="NUMBER" name="NUMBER" value="{{ response_object['NUMBER'] }}"/>

            <label for="date">Date</label>
            <input type="text" id="Date1_af_date" name="Date1_af_date" value="{{ response_object['Date1_af_date'] }}"/>

            <div>
              <label for="Dropdown2">Dept Name</label>
              <select id="Dropdown2" name="Dropdown2">
                <option disabled selected>Choose One</option>
                <option>Cafe</option>
                <option>Car Shows</option>
                <option>Communications</option>
                <option>Family Life</option>
                <option>General Fund</option>
                <option>Grace Garage</option>
                <option>Grace Latino Ministries</option>
                <option>Groups</option>
                <option>Guest Services</option>
                <option>Kids</option>
                <option>Men's Ministries</option>
                <option>Pastoral Care</option>
                <option>Prayer</option>
                <option>Primetime</option>
                <option>Special Projects</option>
                <option>Tech</option>
                <option>Women's Ministries</option>
                <option>Worship</option>
                <option>Young Adults</option>
                <option>Youth</option>
                <option>SE - Kid's Camp</option>
                <option>SE - Merry and Bright</option>
                <option>SE - Youth Camp</option>
                <option>SE - Youth Merch.</option>
                <option>SE - Youth Mission Trip</option>
                <option>SE - Other</option>
              </select>
              <label for="Dropdown3">Account</label>
              <select id="Dropdown3" name="Dropdown3">
                <option disabled selected>Choose One</option>
                <option>Dept Budgets&nbsp;&nbsp;- Computer Oper</option>
                <option>Dept Budgets - Dues & Subscriptions</option>
                <option>Dept Budgets - Florist</option>
                <option>Dept Budgets - Gifts</option>
                <option>Dept Budgets - Honorarium</option>
                <option>Dept Budgets - Mat. & Supplies</option>
                <option>Dept Budgets - Meals</option>
                <option>Dept Budgets - Office Supplies</option>
                <option>Dept Budgets -</option>
                <option>Dept Budgets -</option>
                <option>Dept Budgets -</option>
                <option>Dept Budgets -</option>
                <option>Dept Budgets -</option>
                <option>Dept Budgets -</option>
                <option>Dept Budgets -</option>
                <option>Dept Budgets -</option>
                <!-- add the rest later -->
              </select>
            </div>
            <div style="display: flex; flex-direction: column">
              <div>
                <label for="EVENT">Event</label>
                <input type="text" id="EVENT" name="EVENT" />
              </div>

              <div>
                <label for="ORDERED BY">Requested By</label>
                <input type="text" id="ORDERED BY" name="ORDERED BY" value="{{ response_object['ORDERED BY'] }}"/>
              </div>

              <div>
                <label for="VENDOR NAME">Vendor Name</label>
                <input type="text" id="VENDOR NAME" name="VENDOR NAME" value="{{ response_object['VENDOR NAME'] }}"/>
              </div>

              <div>
                <label for="address">Address</label>
                <input type="text" id="ADDRESS" name="ADDRESS" value="{{ response_object['ADDRESS'] }}"/>
              </div>

              <div>
                <label for="city">City</label>
                <input type="text" id="CITY" name="CITY" value="{{ response_object['CITY'] }}"/>
              </div>

              <div>
                <label for="STATE">State</label>
                <input type="text" id="STATE" name="STATE" value="{{ response_object['STATE'] }}"/>

                <label for="ZIP">Zip</label>
                <input type="text" id="ZIP" name="ZIP" value="{{ response_object['ZIP'] }}"/>
              </div>
            </div>
          </div>

          <div style="display: flex; flex-direction: column" id="col2">
            Billing Method
            <div>
              <label for="amex">AMEX</label>
              <input
                type="radio"
                id="amex"
                name="billing-method"
                value="Check Box10"
                {% if response_object['Check Box10'] %}
                checked="checked"
                {% endif %}
              />
            </div>

            <div>
              <label for="reimb-ck">Reimb CK</label>
              <input
                type="radio"
                id="reimb-ck"
                name="billing-method"
                value="Check Box11"
              />
            </div>

            <div>
              <label for="advance-ck">Advance CK</label>
              <input
                type="radio"
                id="advance-ck"
                name="billing-method"
                value="Check Box12"
              />
            </div>

            <div>
              <label for="petty-cash">Petty Cash</label>
              <input
                type="radio"
                id="petty-cash"
                name="billing-method"
                value="Check Box13"
              />
            </div>

            <div>
              <label for="on-acct">On Acct</label>
              <input
                type="radio"
                id="on-acct"
                name="billing-method"
                value="Check Box14"
              />
            </div>

            <div>
              <label for="transfer-funds">Transfer Funds</label>
              <input
                type="radio"
                id="transfer-funds"
                name="billing-method"
                value="Check Box15"
              />
            </div>

            <div>
                <input type="radio" id="other-radio" name="billing-method" value="Check Box21" />
              <label for="other">Other</label>
              <input type="text" id="other-radio" name="Text22" />
            </div>
          </div>

          <div id="col3">
            Carrier

            <div>
              <label for="amex">Mail CK</label>
              <input type="radio" id="mail-ck" name="carrier" value="Check Box17" />
            </div>

            <div>
              <label for="amex">Fedex CK</label>
              <input
                type="radio"
                id="fedex-ck"
                name="carrier"
                value="Check Box18"
              />
            </div>

            <div>
              <label for="amex">Vendor Pickup CK</label>
              <input
                type="radio"
                id="vendor-pickup-ck"
                name="carrier"
                value="Check Box19"
              />
            </div>

            <div>
              <label for="amex">Give CK To</label>
              <input
                type="radio"
                id="give-ck-to"
                name="carrier"
                value="Check Box20"
              />
              <input type="text" id="give-ck-field" name="1"/>
            </div>
          </div>

          <div id="row2col1" style="display: flex">
            <div>
              <div>Receipt Date</div>

              <div style="display: flex; flex-direction: column;">
                <input type="text" id="Date2_af_date" name="Date2_af_date" value="{{ response_object['Date2_af_date'] }}"/>
                <input type="text" id="Date3_af_date" name="Date3_af_date" value="{{ response_object['Date3_af_date'] }}"/>
                <input type="text" id="Date4_af_date" name="Date4_af_date" value="{{ response_object['Date4_af_date'] }}"/>
                <input type="text" id="Date5_af_date" name="Date5_af_date" value="{{ response_object['Date5_af_date'] }}"/>
                <input type="text" id="Date6_af_date" name="Date6_af_date" value="{{ response_object['Date6_af_date'] }}"/>
                <input type="text" id="Date7_af_date" name="Date7_af_date" value="{{ response_object['Date7_af_date'] }}"/>
                <input type="text" id="Date8_af_date" name="Date8_af_date" value="{{ response_object['Date8_af_date'] }}"/>
                <input type="text" id="Date9_af_date" name="Date9_af_date" value="{{ response_object['Date9_af_date'] }}"/>
              </div>
            </div>

            <div>
                <div>Description</div>

                <div style="display: flex; flex-direction: column;">
                    <input type="text" id="DESCRIPTIONRow1" name="DESCRIPTIONRow1" value="{{ response_object['DESCRIPTIONRow1'] }}"/>
                    <input type="text" id="DESCRIPTIONRow2" name="DESCRIPTIONRow2" value="{{ response_object['DESCRIPTIONRow2'] }}"/>
                    <input type="text" id="DESCRIPTIONRow3" name="DESCRIPTIONRow3" value="{{ response_object['DESCRIPTIONRow3'] }}"/>
                    <input type="text" id="DESCRIPTIONRow4" name="DESCRIPTIONRow4" value="{{ response_object['DESCRIPTIONRow4'] }}"/>
                    <input type="text" id="DESCRIPTIONRow5" name="DESCRIPTIONRow5" value="{{ response_object['DESCRIPTIONRow5'] }}"/>
                    <input type="text" id="DESCRIPTIONRow6" name="DESCRIPTIONRow6" value="{{ response_object['DESCRIPTIONRow6'] }}"/>
                    <input type="text" id="DESCRIPTIONRow7" name="DESCRIPTIONRow7" value="{{ response_object['DESCRIPTIONRow7'] }}"/>
                    <input type="text" id="DESCRIPTIONRow8" name="DESCRIPTIONRow8" value="{{ response_object['DESCRIPTIONRow8'] }}"/>
                  </div>
            </div>

            <div>
                <div>Amount</div>

                <div style="display: flex; flex-direction: column;">
                    <input type="text" id="AMOUNTRow1" name="AMOUNTRow1" value="{{ response_object['Text1'] }}"/>
                    <input type="text" id="AMOUNTRow2" name="AMOUNTRow2" value="{{ response_object['AMOUNTRow2'] }}"/>
                    <input type="text" id="AMOUNTRow3" name="AMOUNTRow3" value="{{ response_object['AMOUNTRow2'] }}"/>
                    <input type="text" id="AMOUNTRow4" name="AMOUNTRow4" value="{{ response_object['AMOUNTRow2'] }}"/>
                    <input type="text" id="AMOUNTRow5" name="AMOUNTRow5" value="{{ response_object['AMOUNTRow2'] }}"/>
                    <input type="text" id="AMOUNTRow6" name="AMOUNTRow6" value="{{ response_object['AMOUNTRow2'] }}"/>
                    <input type="text" id="AMOUNTRow7" name="AMOUNTRow7" value="{{ response_object['AMOUNTRow2'] }}"/>
                    <input type="text" id="AMOUNTRow8" name="AMOUNTRow8" value="{{ response_object['AMOUNTRow2'] }}"/>
                  </div>
            </div>

          </div>

        <div>
            Total
            <input type="text" id="Text1" name="Text1" value="{{ response_object['Text1'] }}"/>
        </div>

        </div>

        <button type="submit">Render</button>
      </form>
    </div>
    <span>{{ response_object }} Test</span>
  </body>
</html>
