<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grace PO Creator</title>
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: rgb(27, 44, 91);
      }
      #app {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        margin: auto;
      }

      label {
        margin: 3px;
      }

      input {
        margin: 5px;
      }

      .margin20 {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      input[type="file"] {
        display: none;
      }

      #upload-area {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #custom-file-upload:hover {
        text-decoration: underline;
      }

      @media screen and (max-width: 992px) {
        #grace-logo {
          display: flex;
          justify-content: center;
        }
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row" id="upload-area">
        <div class="col-lg-4" id="grace-logo">
          <img
            src="static/Grace-Woodlands-Logo-wide-PNG-logo.png"
            style="width: 50%"
          />
        </div>

        <div class="col-lg-4" style="font-size: larger; text-align: center">
          PRUCHASE REQUEST
        </div>

        <div class="col-lg-4" style="margin-top: 50px; margin-bottom: 50px">
          <form
            method="post"
            enctype="multipart/form-data"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
            "
          >
            <label
              for="file-upload"
              id="custom-file-upload"
              class="btn"
              style="width: 50%; font-size: small;
                {% if response_object['no_file'] %} 
                  color: red;
                  font-weight: bold;
                {% endif %}"
            >
              Click Here To <br />
              Choose File To Scan
            </label>

            <input
              id="file-upload"
              type="file"
              name="receipt"
              accept="image/png, image/jpeg, .pdf"
              style="width: 50%"
            />
            <button type="submit" class="btn btn-primary">Scan Image</button>
          </form>
        </div>
      </div>

      <div class="container">
        <form method="post" action="/renderform">
          <div class="row">
            <div class="col-sm">{% include 'section1.html' %}</div>
            <div
              class="col-sm"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              {% include 'section2.html' %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div>{% include 'section4.html' %}</div>
            </div>
          </div>
          {% include 'section5.html' %}

          <!-- this is to tell the "create_pdf_po_document" function what extension to look for -->
          <!-- in the newly generated "receipt" file -->
        </form>
      </div>
    </div>
    <span>{{ response_object }} Test</span>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      const fileInputField = document.getElementById("file-upload");
      const fileInputLabel = document.getElementById("custom-file-upload");
      const uploadedFilename = document.getElementById("uploaded-filename");

      let isIOS =
        (/iPad|iPhone|iPod/.test(navigator.platform) ||
          (navigator.platform === "MacIntel" &&
            navigator.maxTouchPoints > 1)) &&
        !window.MSStream;

      document.body.append(`${isIOS}`);

      function uploadImage(newImageBlob) {
        // name the label to the name of the uploaded image file
        fileInputLabel.innerText = fileInputField.files[0].name;

        // create a new blob from the rotated image and then create a new file from it
        const uploadFile = new File([newImageBlob], "upload.webp");

        // create a new filelist, and add the new created file blob to it
        const newFileList = new DataTransfer();
        newFileList.items.add(uploadFile);

        // add new file list to the file upload field
        fileInputField.files = newFileList.files;
      }

      // when adding a file to the input field, load the image and:
      // if it is an IOS device, rotate it to orientation 5
      // if not, do not rotate it
      fileInputField.onchange = async () => {
        loadImage(
          fileInputField.files[0],
          async (image, data) => {
            if (data.imageHead && data.exif && isIOS) {
              // Reset Exif Orientation data:
              loadImage.writeExifData(data.imageHead, data, "Orientation", 6);
              image.toBlob(function (blob) {
                loadImage.replaceHead(blob, data.imageHead, function (newBlob) {
                  uploadImage(newBlob)
                });
              }, "image/jpeg");
            } else {
              const newImageBlob = await createResizedImage(image);
              uploadImage(newImageBlob)
            }
          },
          {
            maxWidth: 600,
          }
          // Options);
        );
      };
    </script>
    <script src="../static/scripts.js"></script>
    <script src="../static/node/node_modules/blueimp-load-image/js/load-image.all.min.js"></script>
  </body>
</html>
