<div>
    Carrier

    <div>
      <input
        type="radio"
        id="mail-ck"
        name="carrier"
        value="Check Box17"
      />
      <label for="amex">Mail CK</label>
    </div>

    <div>
      <input
        type="radio"
        id="fedex-ck"
        name="carrier"
        value="Check Box18"
      />
      <label for="amex">Fedex CK</label>
    </div>

    <div>
      <input
        type="radio"
        id="vendor-pickup-ck"
        name="carrier"
        value="Check Box19"
      />
      <label for="amex">Vendor Pickup CK</label>
    </div>

    <div>
      <input
        type="radio"
        id="give-ck-to"
        name="carrier"
        value="Check Box20"
      />
      <label for="amex">Give CK To</label>
      <input type="text" id="give-ck-field" name="1" />
    </div>
  </div>