<div class="container margin20">
  <div class="row">
    <div class="col-lg-3">
      <div>Receipt Date</div>

      <div style="display: flex; flex-direction: column; width: 100% margin20">
        <input
          type="text"
          id="Date2_af_date"
          name="Date2_af_date"
          value="{{ response_object['Date2_af_date'] }}"
        />
        <input
          type="text"
          id="Date3_af_date"
          name="Date3_af_date"
          value="{{ response_object['Date3_af_date'] }}"
        />
        <input
          type="text"
          id="Date4_af_date"
          name="Date4_af_date"
          value="{{ response_object['Date4_af_date'] }}"
        />
        <input
          type="text"
          id="Date5_af_date"
          name="Date5_af_date"
          value="{{ response_object['Date5_af_date'] }}"
        />
        <input
          type="text"
          id="Date6_af_date"
          name="Date6_af_date"
          value="{{ response_object['Date6_af_date'] }}"
        />
        <input
          type="text"
          id="Date7_af_date"
          name="Date7_af_date"
          value="{{ response_object['Date7_af_date'] }}"
        />
        <input
          type="text"
          id="Date8_af_date"
          name="Date8_af_date"
          value="{{ response_object['Date8_af_date'] }}"
        />
        <input
          type="text"
          id="Date9_af_date"
          name="Date9_af_date"
          value="{{ response_object['Date9_af_date'] }}"
        />
      </div>
    </div>
    <div class="col-lg-7">
      <div>Description</div>

      <div style="display: flex; flex-direction: column">
        <input
          type="text"
          id="DESCRIPTIONRow1"
          name="DESCRIPTIONRow1"
          value="{{ response_object['DESCRIPTIONRow1'] }}"
        />
        <input
          type="text"
          id="DESCRIPTIONRow2"
          name="DESCRIPTIONRow2"
          value="{{ response_object['DESCRIPTIONRow2'] }}"
        />
        <input
          type="text"
          id="DESCRIPTIONRow3"
          name="DESCRIPTIONRow3"
          value="{{ response_object['DESCRIPTIONRow3'] }}"
        />
        <input
          type="text"
          id="DESCRIPTIONRow4"
          name="DESCRIPTIONRow4"
          value="{{ response_object['DESCRIPTIONRow4'] }}"
        />
        <input
          type="text"
          id="DESCRIPTIONRow5"
          name="DESCRIPTIONRow5"
          value="{{ response_object['DESCRIPTIONRow5'] }}"
        />
        <input
          type="text"
          id="DESCRIPTIONRow6"
          name="DESCRIPTIONRow6"
          value="{{ response_object['DESCRIPTIONRow6'] }}"
        />
        <input
          type="text"
          id="DESCRIPTIONRow7"
          name="DESCRIPTIONRow7"
          value="{{ response_object['DESCRIPTIONRow7'] }}"
        />
        <input
          type="text"
          id="DESCRIPTIONRow8"
          name="DESCRIPTIONRow8"
          value="{{ response_object['DESCRIPTIONRow8'] }}"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div>Amount</div>

      <div style="display: flex; flex-direction: column">
        <input
          type="text"
          id="AMOUNTRow1"
          name="AMOUNTRow1"
          value="{{ response_object['Text1'] }}"
        />
        <input
          type="text"
          id="AMOUNTRow2"
          name="AMOUNTRow2"
          value="{{ response_object['AMOUNTRow2'] }}"
        />
        <input
          type="text"
          id="AMOUNTRow3"
          name="AMOUNTRow3"
          value="{{ response_object['AMOUNTRow2'] }}"
        />
        <input
          type="text"
          id="AMOUNTRow4"
          name="AMOUNTRow4"
          value="{{ response_object['AMOUNTRow2'] }}"
        />
        <input
          type="text"
          id="AMOUNTRow5"
          name="AMOUNTRow5"
          value="{{ response_object['AMOUNTRow2'] }}"
        />
        <input
          type="text"
          id="AMOUNTRow6"
          name="AMOUNTRow6"
          value="{{ response_object['AMOUNTRow2'] }}"
        />
        <input
          type="text"
          id="AMOUNTRow7"
          name="AMOUNTRow7"
          value="{{ response_object['AMOUNTRow2'] }}"
        />
        <input
          type="text"
          id="AMOUNTRow8"
          name="AMOUNTRow8"
          value="{{ response_object['AMOUNTRow2'] }}"
        />
      </div>
    </div>
  </div>
</div>
